.featuresBar {
  background-color: #ef3447;
  padding: 20px 0;
  color: white;
  margin-top: 30px;
}

.container {
  //   max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  align-items: center;
}

.mobileMarquee {
  display: none;
}

.marqueeInner {
  display: none;
}

.marqueeContent {
  display: none;
}

.featureItem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.featureIcon {
  font-size: 2rem;
  flex-shrink: 0;
}

.featureText {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

@media (max-width: 768px) {
  .featuresBar {
    padding: 0px 0;
  }

  .featuresGrid {
    display: none;
  }

  .mobileMarquee {
    display: block;
    overflow: hidden;
  }

  .marqueeInner {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
  }

  .marqueeContent {
    display: flex;
    gap: 20px;
  }

  .featureItem {
    flex-direction: column;
    gap: 10px;
    flex: 0 0 auto;
    max-width: 260px;
    padding: 8px 10px;
  }

  .featureIcon {
    font-size: 1.5rem;
  }

  .featureText {
    font-size: 0.9rem;
    display: inline-block;
    max-width: 200px;
    white-space: normal;
    overflow-wrap: anywhere;
    text-align: center;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
