.details {
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

.metaList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px 0;
}
.breaker {
  height: 1px;
  width: 100%;
  background: #00000040;
  margin: 16px 0;
}
.metaRow {
  display: grid;
  grid-template-columns: 28px 1fr;
  align-items: flex-start;
}

.metaBullet {
  font-size: 16px;
  line-height: 28px;
}
.metaValueWrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.metaLabel {
  font-size: 16px;
  color: #02658f;
  font-weight: 700;
}

.metaValue {
  font-size: 14px;
  font-weight: 400;
}

.section {
  margin-top: 16px;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #02658f;
  display: flex;
  align-items: center;
  gap: 10px;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
}

.route {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  color: #02658f;
}

.ctaRow {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  justify-content: start;
}

.btn {
  height: 44px;
  padding: 0 18px;
  border-radius: 40px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  min-width: 112px;

  &:hover {
    background: #ef3447;
    color: #fff;
    transition: all 0.3s ease;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.linkBtn {
  text-decoration: none;
}

.primary {
  border: 2px solid #ffffff;
  background: #ef3447;
  color: #fff;
}

.secondary {
  background: transparent;
  color: #ef3447;
  border: 2px solid #ef3447;
}
