.wrapper {
  width: 100%;
  border-bottom: 1px solid #dde1e6;
  margin-bottom: 30px;
}

.container {
  max-width: 85vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 0 15px 0;
}

.tabNav {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.tabNav::-webkit-scrollbar {
  display: none;
  height: 0;
}

.tabLink {
  background: transparent;
  border: none;
  padding: 10px 18px;
  border-radius: 9999px;
  color: #111;
  font-weight: 700;
  cursor: pointer;
}

.tabLink:hover {
  color: #024e6e;
}

.active {
  background: #02658f;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: #024b6a;
    transform: translateY(-1px);
  }
}

.shareBtn {
  background: transparent;
  border: none;
  color: #02658f;
  font-size: 18px;
  padding: 6px 8px;
  cursor: pointer;
  &:hover {
    color: #024b6a;
    transform: translateY(-1px);
  }
}
@media (max-width: 768px) {
  .wrapper {
    display: none;
  }

  .container {
    max-width: 94vw;
  }
}
