.topSection {
  // background: linear-gradient(135deg, #e0f2fe 0%, #b3e5fc 100%);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/assets/png/footer-image.jpg");
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: -1;
    transform: rotate(180deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:
      linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 32.32%),
      linear-gradient(180deg, rgba(2, 101, 143, 0) 22.94%, #02658f 100%);
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    max-width: 85vw;
    margin: 0 auto;
    min-height: 350px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
